{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand active" href="{% url "main" %}"</a>Home</a>
    </div>

     <ul class="nav navbar-nav">
       <li><a href="{% url "start" %}">Something</a></li>
       <li><a href="{% url "start" %}">Some Manager</a></li>
     </ul>

      <p class="navbar-text pull-right"><a href="/logout">Log Out</a></p>
      <p class="navbar-text pull-right"><a href="/admin">Admin</a></p>
      <p class="navbar-text pull-right"><a href="javascript:history.go(0)">Reload</a></p>

  </div>
</div>
{% endblock %}
