<div class="container">
  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">Token</h3>
    </div>

    <div class="panel-body">
      <b>Current token:</b>
      <pre>
          {{ user.registration_token }}
      </pre>
    </div>

    <div class="panel-footer">
      <div class="row">

        <div class="btn-group pull-right">
            <form action="{% url "regenerate_token" %}" method="post">{% csrf_token %}
              <input type="hidden" name="regenerate_token" value="1" />
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-bolt"> Generate Token</i></button>
            </form>
        </div>

      </div>
    </div>

  </div>
</div>
