
       <div class="col-lg-6" >
           <div class="panel panel-info">

            <div class="panel-heading">
              <h3 class="panel-title">Account</h3>
            </div>

            <div class="panel-body">
              <div class="row">

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Username:</td>
                        <td>{{ user }}</td>
                      </tr>

                      <tr>
                        <td>Full Name:</td>
                        <td>{{ user.real_name }}</td>
                      </tr>

                      <tr>
                        <td>Joined</td>
                        <td>{{ user.date_joined }}</td>
                      </tr>


                      <tr>
                        <td>Last login</td>
                        <td>{{ user.last_login }}</td>
                      </tr>

                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>

            <div class="panel-footer">
              <a href="{% url "edit_profile" %}" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-default"><i class="fa fa-cogs"></i> Edit profile</a>
              <span class="pull-right">
                <a href="{% url "delete_profile" %}" data-original-title="Delete profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban">   Delete profile</i></a>
              </span>
            </div>

          </div>
        </div>
