{% extends "base/template.html" %}

{% block content %}

{% include "base/alert/alert.html" %}

<script>
    $(document).ready(function() {
      $('#quote-carousel').carousel({
        pause: true,
        interval: 4000
      });
    });
</script>

<div class="container">

  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
      <h2>Quotes for {{ user.real_name }}</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">

        <ol class="carousel-indicators">
          {%  for num, obj in quotes %}
          {% if num == 0 %}<li data-target="#quote-carousel" data-slide-to="{{ num }}" class="active"></li>{% else %}<li data-target="#quote-carousel" data-slide-to="{{ num }}"></li>{% endif %}
          {% endfor %}
        </ol>

        <div class="carousel-inner">

          {% for num, quote in quotes %}
          {% if num == 0 %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <blockquote>
              <div class="row">

                <div class="col-sm-2 text-center">
                    <h1>#{{ quote.id }}</h1>
                </div>

                <div class="col-sm-9">
                  <a href="{% url "show" quote.id %}"><p>{{ quote.quote }}</p></a>
                  <small>{{ user.real_name }}</small>
                </div>

              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>

        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

      </div>

  <div class="btn-group pull-left">
    <a href="{% url "add_quote" %}" data-original-title="Add quote" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="fa fa-cogs"></i> Add a quote</a>
  </div>

</div>
</div>

{% endblock %}