<div class="container">
  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">Control</h3>
    </div>

    <div class="panel-body">
      <div class="row">

         <div class="btn-group pull-left">

          {% if user.is_voice %}
              {% include "profile/modals/voice.html" %}
          {% endif %}

          {% if user.is_operator %}
              {% include "profile/modals/ops.html" %}
          {% endif %}

          {% include "profile/modals/message.html" %}

         </div>

         <div class="btn-group pull-right">
           <a href="{% url "edit_profile" %}" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-default"><i class="fa fa-cogs"></i> Edit profile</a>
           <a href="{% url "delete_profile" %}" data-original-title="Delete profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban">   Delete profile</i></a>
         </div>

      </div>
    </div>

  </div>
</div>
