{% extends "base/template.html" %}
{%  block head %}
  <title>Please log in</title>
  <link href="/static/css/login.css" rel="stylesheet">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
{% endblock %}


{% block body %}

{% include "auth/basic_nav.html" %}

<div class="container">
  <form class="form-signin" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="POST">
    {% csrf_token %}
    <div data-role="fieldcontain">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="username" name="username" id="username" value="" class="form-control" placeholder="username" required autofocus>
      <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-default btn-block" type="submit">Log in</button>
    </div>
  </form>
</div>


{% endblock %}

